body{
    background-color:  hsl(212, 45%, 89%)
}

.card{
    background-color: hsl(0, 0%, 100%);
  width: 350px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.card-content{
    
}
.image{
    border-radius: 10px;
}