body{
    background-color:  hsl(212, 45%, 89%)
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}
.card-content{
    /* justify-content: center; */
    text-align: center;
    padding: 20px;
}
.image{
    border-radius: 5px;
}